@import 'config';
@import 'menu';


*{
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

//Headings
h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  //same has h1.lg-heading
  &.lg-heading{
    font-size: 5rem;
  }

  &.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    //background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;  
  width: 100%;     
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px); //60 is the height of the footer
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    //hide scroll bars
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 
  'bioimage bio bio'    //Means bio streches over two grids
  'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }
  
  .bio {
    grid-area: bio;
    font-size: 1rem;
    .text-secondary {
      font-size: 1.5rem;
    }
  }
  
  .job-1{
    grid-area: job1;
  }
  
  .job-2{
    grid-area: job2;
  }
  
  .job-3{
    grid-area: job3;
  }
  
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
  }

  .job-title {
    margin-bottom: -15px;
    border-bottom: $secondary-color 2px solid;
  }

  .job-position {
    font-weight: 400;
    color: darken($secondary-color, 10);
    margin-bottom: -15px;
    margin-top: 7;
  }

  .tech {
    padding-top: 15px;
  }
}

//Work
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;

  img {
    width: 100%;    //100% of its container
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .item-title {
    color: #fff;
  }



  
}

//Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  
  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.7rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}


//Resume
.resume {
  height: 85vh;
  width: 98%;
  overflow: hidden;
}

//Button Styles
.btn {
  display: block;    //On their own line and go all the way across
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background-color: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  @extend .btn;
  background-color: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

//ALways have at the bottom
@import 'mobile';